
.generateColorWrap {
    display:flex;
    justify-content: space-between;
    align-items:center;

    .generatedColor {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid grey;
        background-color: aqua;
    }
}
