.dateUIWrap {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1976d2;
    display:flex;
    width:130px;
    align-items: center;
    justify-content: center;
    user-select: none;
}